html,
body {
	background-image: none !important;
	background-color: rgba(40, 42, 54, 1) !important;
    font-family: sans-serif;
    margin-bottom: 200px;
}

body * {
	color: rgba(248, 248, 242, 1) !important;
	background-color: rgba(40, 42, 54, 1) ;
}

/* links */
a,
a * {
	color: rgba(80, 250, 123, 1) !important;
	/*background-color: transparent ;*/
}

a:hover,
a:hover *,
a:visited:hover,
a:visited:hover *,
span[onclick]:hover,
div[onclick]:hover,
[role="link"]:hover,
[role="link"]:hover *,
[role="button"]:hover *,
[role="menuitem"]:hover,
[role="menuitem"]:hover *,
.link:hover,
.link:hover * {
	color: rgba(241, 250, 140, 1) !important;
}

h1,
[id*="headline"],
[class*="headline"],
[id*="header"],
[class*="header"],
[class*="header"] td {
	color: rgba(189, 147, 249, 1) !important;
}
h2 {
	color: rgba(139, 233, 253, 1) !important;
}

h3,
h4,
h5,
h6,
strong {
	color: rgba(255, 121, 198, 1) !important;
}

table {
	background-color: rgba(40, 42, 54, 1) !important;
}

ul {
    background-color: transparent ;
    /* remove bullets and def settings*/
    list-style-type: none ;
    margin: 0 ;
    padding: 0 ;
    overflow: hidden;
    /*border: solid 2px rgba(241, 250, 140, 1) ;*/
    border: solid 2px rgba(228, 243, 74, 1) ;
    border-radius: 10px ;
}

ul.intext {
    border: none ; 
    list-style: disc inside !important ;
    text-align: center ;
    max-width: 80% ;
    margin: 1em auto ;
    font-size: 18px ;
}
.links {
    display: table ;
    margin: auto ;
    text-align: center ;
}
.box {
    float: left ;
    text-align: center ;
    padding: 6px ;
    font-size: 18px ;
}

.navbar ul {
    border: solid 2px rgba(228, 243, 74, 1) ;
}

.navbar {
    font-size: 20px ;
    text-align: center ;
    padding: 0.5em 0 ;
    margin: 1em auto ;
    box-sizing: border-box ;
    width: 66.66% ; 
}

.navbar a {
    float: left;
    display: block ; 
    padding: 6px ;
    text-decoration: none;
    text-align: center ;
    box-sizing: border-box ;
    width: 25% ; 
}

.navbar a:hover {
    background-color: rgba(68, 71, 90, 1) ;
}

#navigation li a.current {
	background-color: rgba(189, 147, 249, 1) ;
    color: rgba(40, 42, 54, 1) !important ;
    font-weight: bold !important ;
}

img {
    max-width: 100% ;
    max-height: 100% ; 
    height: auto ; 
    margin: auto ;
    display: block ;
    border: solid 2px rgba(228, 243, 74, 1) ;
    border-radius: 10px ;
}

main {
    margin: auto ;
}

header {
    text-align: center ;
}

header h1 {
    font-size: 50px ;
}

header h2 {
    font-size: 40px ;
}
header h3 {
    font-size: 30px ;
    text-align: left ; 
    text-indent: 5% ;
}

main p {
    text-align: center ;
    max-width: 80% ;
    margin: 1em auto ;
    font-size: 18px ;
}

footer {
    text-align: center ;
    margin: 1em auto ;
    margin-top: 50px ;
    box-sizing: border-box ;
    width: 66.66% ;
    border: solid 2px rgba(228, 243, 74, 1) ;
    border-radius: 10px ;
}

.row {
    display: flex ;
}

.column {
    flex: 50% ;
}
figure img {
    object-fit: cover ;
    width: 400px ; 
    height: 400px ; 
}
figcaption {
    text-align: center ;
    font-weight: bold ;
    font-size: 18px ;
    padding-top: 10px ; 
    padding-bottom: 0px ;
}
